p{
    color: rgb(8, 6, 8);
    font-size: 18px;
}
h1{
    color: rgb(247, 5, 5);
    font-size: 40px;
}
h2{
    color: rgb(94, 4, 4);
    font-size: 35px;
}
h3{
    color: rgb(151, 32, 72);
}
h4{
    color: rgb(151, 32, 72);
}
ul{
    color: rgb(0, 0, 0);
}
.datos{
    color: rgb(255, 94, 0);
}
#resaltar{
    color: brown;
}
body {
    background-image: url(fotos/fondo.jpg); background-size:cover ; background-repeat: no-repeat; background-position:center ;
} 